<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
   
   <profiles>
      <profile>
         <repositories>
            <repository>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <id>central</id>
               <name>libs-release</name>
               <url>http://repo1.maven.org/maven2/</url>
            </repository>
            <repository>
               <snapshots />
               <id>snapshots</id>
               <name>libs-snapshot</name>
               <url>http://repo1.maven.org/maven2/</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <id>central</id>
               <name>plugins-release</name>
               <url>http://repo1.maven.org/maven2/</url>
            </pluginRepository>
            <pluginRepository>
               <snapshots />
               <id>snapshots</id>
               <name>plugins-snapshot</name>
               <url>http://repo1.maven.org/maven2/</url>
            </pluginRepository>
         </pluginRepositories>
         <id>artifactory</id>
      </profile>
      <profile>
         <id>ossrh</id>
         <activation>
         <activeByDefault>true</activeByDefault>
         </activation>
         <properties>
            <gpg.passphrase>9D0F9FE57CFC343DB3E087B0F00604B85089FB1A</gpg.passphrase>
         </properties>
      </profile>
   </profiles>

   <servers>
      <server>
         <id>ossrh</id>
         <username>sanjuthomas</username>
         <password>newstar</password>
      </server>
   </servers>

</settings>
